// Header

.side__header {
    position: relative;
    height: 445px;
    background: $bgc-header;

    @include sm-media {
        height: 100vh;
    }
}

// Hero

.hero__section {
    @include position(absolute, $top: 50%, $left: 50%);
    @include translate(-50%, -50%);
    width: 100%;
    color: $white-color;
    text-align: center;
}

.hero__text {
    font-size: 1.7rem;
    font-weight: $font-weight-light;
    letter-spacing: 3px;
    margin-top: -10px;

    @include sm-media {
        font-size: 1.2rem;
    }
}


// Waves

.wave {
    @include position(absolute, $bottom: 0);

    @include sm-media {
        display: none;
    }

    &--lilac {
        @include translateY(-45%);
        right: -2px;
        width: 30vw;
    }

    &--purple {
        @include translateY(58%);
        right: -2px;
        width: 40vw;
    }

    &--pink {
        @include translateY(50%);
        left: -2px;
        width: 50vw;
    }
}



// Banner

.banner {
    position: relative;
    background: center 10% no-repeat url('../images/fullbg.jpg');
    background-size: 136%;
    width: 100%;
    height: 300px;
    margin: 80px 0;
}


// Footer

.side__footer {
    position: relative;
    @include flexCenter;
    flex-direction: row;
    background: $bgc-footer;

    @include sm-media {
        flex-direction: column;
        align-items: stretch;
    }

    .footer__content {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        height: 445px;

        @include md-media {
            flex-basis: 45%;
        }

        @include sm-media {
            height: 150px;
        }

    }

    .footer__contact {
        flex-grow: 1;
        height: 445px;
    }
}


.footer__text--main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    h3 {
        flex-basis: 60%;
        font-size: 5.2rem;

        @include md-media {
            flex-basis: 75%;
            font-size: 3.2rem;
        }

        @include sm-media {
            flex-basis: 80%;
        }
    }
}


.footer__text--copy {
    flex-basis: 10%;
    width: 60%;
    margin: 0 auto;

    @include md-media {
        width: 75%;
    }

    @include sm-media {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 5% 10%;
    }
}