html {
  box-sizing: border-box;
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --regular-font: "Roboto", sans-serif;
  --heading-font: "Montserrat", sans-serif;
  --main-color: #440c74;
  font-size: 12px;
}

body {
  font-family: var(--regular-font);
  color: var(--main-color);
}

.side__header {
  position: relative;
  height: 445px;
  background: linear-gradient(45deg, #f86881, #9235ed);
  /* FIXME: change header gradient; */
  /* margin-bottom: 5%; */
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  list-style: none;
  min-height: 10vh;
}

.menu__link {
  position: relative;
  display: block;
  text-decoration: none;
  font-family: var(--heading-font);
  font-size: 1.2rem;
  line-height: 10vh;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: var(--main-color);
  padding: 0 25px;
  overflow: hidden;
}

.menu__link::before {
  content: '';
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: var(--main-color);
  bottom: 10%;
  left: -100%;
  transition: .4s;
}

.menu__link:hover::before {
  left: 10%;
}

.hero__section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #fff;
  text-align: center;
}

.hero__text--main {
  font-size: 9.5rem;
  font-family: var(--heading-font);
}

.hero__text {
  font-size: 1.7rem;
  letter-spacing: 3px;
  font-weight: 300;
  margin-top: -10px;
}

.wave {
  position: absolute;
  bottom: 0;
}

.header__wave--lilac {
  right: 0;
  width: 30vw;
  transform: translateY(-45%);
}

.header__wave--purple {
  right: 0;
  width: 40vw;
  transform: translateY(60%);
}

.side__main {
  /* display: flex; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* align-items: center; */
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 60px 20px;
}

.card__wrapper {
  flex-basis: 409px;
  padding: 20px 40px;
  margin: 20px 0 0 100px;
  position: relative;
}

.card__title {
  font-family: var(--heading-font);
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 2.5px;
}

.card__title::before {
  position: absolute;
  top: -60px;
  font-size: 20rem;
  z-index: -1;
}

.card--one .card__title::before {
  content: '1.';
  left: -70px;
  color: #E579D7;
}

.card--two .card__title::before {
  content: '2.';
  left: -70px;
  color: #FB8097;
}

.card--three .card__title::before {
  content: '3.';
  left: -110px;
  color: #E421B4;
}

.card__content {
  padding: 20px 0;
  line-height: 1.5;
}

.btn {
  box-sizing: content-box;
  font-size: 1.2rem;
  font-family: var(--heading-font);
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 1.5px;
  width: 160px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.card__btn {
  display: inline-block;
  border: 2px solid #C244C1;
}

.card__img {
  flex-basis: 409px;
  height: 100%;
}

.card__img img {
  display: block;
  width: 100%;
}

.banner {
  position: relative;
  background-image: url(images/fullbg.jpg);
  background-position: center 10%;
  background-repeat: no-repeat;
  background-size: 136%;
  width: 100%;
  height: 300px;
  margin: 80px 0;
}

.banner__text {
  text-align: center;
  line-height: 300px;
  font-size: 6rem;
  color: #fff;
  font-family: var(--heading-font);
  font-weight: 700;
}

.banner__wave--pink {
  left: 0;
  transform: translateY(50%);
  width: 50vw;
}

.side__footer {
  background: linear-gradient(45deg, #fb81c4, #AC47E2);
  /* FIXME: change footer gradient */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.footer__content {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 50%;
  height: 445px;
  min-width: 500px;
  /* text-align: center; */
}

.footer__text--main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.footer__text--main h3 {
  flex-basis: 60%;
  font-size: 5.2rem;
  font-family: var(--heading-font);
  font-weight: 700;
}

.footer__text--copy {
  flex-basis: 10%;
  width: 60%;
  margin: 0 auto;
}

.footer__contact {
  width: 50%;
  min-width: 500px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding: 5% 20%;
}

.form__input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--main-color);
  padding: 2px 10px;
  font-size: 1.2rem;
  font-family: var(--regular-font);
  color: var(--main-color);
}

.form__input__textarea {
  border: 2px solid var(--main-color);
  margin: 10px 0;
}

.form__btn {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.menu__burger {
  position: fixed;
  top: 30px;
  right: 30px;
  /* background-color: gray; */
  width: 60px;
  height: 45px;
  transition: .2s;
}

.menu__burger.active {
  transform: rotate(-90deg);
}

.menu__burger span {
  position: absolute;
  width: 100%;
  height: 10px;
  background-color: black;
  left: 0;
  transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, transform .2s .4s;
}

.menu__burger span:nth-child(1) {
  top: 0
}

.menu__burger.active span:nth-child(1) {
  top: calc(50% - 5px);
  transform: rotate(45deg);
}

.menu__burger span:nth-child(2) {
  top: calc(50% - 5px);
}

.menu__burger.active span:nth-child(2) {
  opacity: 0;
}

.menu__burger span:nth-child(3) {
  bottom: 0;
}

.menu__burger.active span:nth-child(3) {
  bottom: calc(50% - 5px);
  transform: rotate(-45deg);
}