.contact__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 5% 20%;

    @include md-media {
        padding: 10%;
    }

    @include sm-media {
        padding: 10% 10% 20% 10%;
    }
}

.form__input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $main-color;
    padding: 2px 10px;

    &--textarea {
        border: 2px solid $main-color;
        margin: 10px 0;
    }
}