body {
    font: $font-weight-regular #{$font-size-regular}/#{$main-line-height} $font-main;
    color: $main-color;
}

h1 {
    font: $font-weight-bold 9.5rem $font-heading;

    @include md-media {
        font-size: 7rem;
    }

    @include sm-media {
        font-size: 4rem;
    }
}

h2 {
    font: $font-weight-bold 5.5rem/300px $font-heading;
    color: $white-color;
    text-align: center;

    @include sm-media {
        font-size: 3rem;
    }
}

h3 {
    font: $font-weight-bold 2.2rem $font-heading;
}

a,
button,
input.form__btn {
    font: $font-weight-bold 1.2rem/40px $font-heading;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-align: center;
}

input:not(.form__btn),
textarea {
    font: 1.2rem $font-main;
    color: $main-color;
}